body {
    background-color: #232323;
    font-family: "Relaway", sans-serif;
    font-size: 62.5%; /* 1 em = 10px */
    margin: 0;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: padding .5s;
}

